* {
    box-sizing: border-box;
}

h1 {
    color: maroon;
    text-align: center;
    font-weight: bold;
    margin-bottom: 100px;
    margin-top: 90px;
    font-style: Arial, Helvetica, sans-serif;
}
.container1 {
 height: 150px;
 width: 450px;
 padding: 10px;
 border: 3px solid black;
 position: relative;
 display: inline-block;
 background-color: #E9967A;
 margin: 35px;
 font-style: Arial, Helvetica, sans-serif;
 
}

.container2 {
 height: 150px;
 width: 450px;
 padding: 10px;
 border: 3px solid black;
 position: relative;
 display: inline-block;
 background-color: #E9967A;
 margin: 35px;
 font-style: Arial, Helvetica, sans-serif;
}

.container3 {
 height: 150px;
 width: 450px;
 padding: 10px;
 border: 3px solid black;
 position: relative;
 display: inline-block;
 background-color: #E9967A;
 margin: 35px;
 font-style: Arial, Helvetica, sans-serif
}



.label1 {
 position: absolute;
 top: -1px;
 right: -2px;
 height: 33px;
 width: 150px;
 background-color: #87CEEB;
 border: 2px solid black;
 text-align: center;
 font-style: Arial, Helvetica, sans-serif;
}

.label2 {
position: absolute;
 top: -1px;
 right: -2px;
 height: 33px;
 width: 150px;
 background-color: #BC8F8F;
 border: 2px solid black;
 text-align: center;
 font-style: Arial, Helvetica, sans-serif;
}

.label3 {
position: absolute;
 top: -1px;
 right: -2px;
 height: 33px;
 width: 150px;
 background-color: #FFB6C1;
 border: 2px solid black;
 text-align: center;
 font-style: Arial, Helvetica, sans-serif;
}

@media (min-width: 992px) {
  .container1 {
      width: 28%;
  }
  .container2 {
      width: 28%;
  }
  .container3 {
      width: 28%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .container1 {
      width: 42%;
  }
  .container2 {
      width: 42%;
  }
  .container3 {
      width: 84%;
  }
}
@media and (max-width: 767px) {
  
}
